HotelFinalProgramacionAvanzada/bin/Debug/*
/HotelFinalProgramacionAvanzada.DataAccess/bin
/HotelFinalProgramacionAvanzada.Models/bin
/HotelFinalProgramacionAvanzada.Utility/bin
/HotelFinalProgramacionAvanzada/obj/Debug
/HotelFinalProgramacionAvanzada.DataAccess/obj/Debug
/HotelFinalProgramacionAvanzada.Models/obj/Debug
/HotelFinalProgramacionAvanzada.Utility/obj/Debug
/HotelFinalProgramacionAvanzada/obj
/HotelFinalProgramacionAvanzada.DataAccess/obj
/HotelFinalProgramacionAvanzada.Models/obj
/HotelFinalProgramacionAvanzada.Utility/obj
