@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="Inicio" style=" background-color:#E0F8F7; position: absolute; color: #FFF; width: 700px; height: 500px; margin-left: 225px; margin-top: 0px; z-index: 0; visibility: visible; opacity: 0.7; left: 360px; top: 200px;">

    <h2 style="color:#1733D5; font-size:18px">
        ¿Quienes somos?
    </h2>

    <h3 style=" text-align:justify; color:#000000">
        Natural Connection es una empresa dedicada a las reservas online. Actuamos como intermediarios entre los clientes que quieren reservar un alojamiento y tu hotel.
        No añadimos nada a tus precios. A diferencia de otras plataformas que cobran a los clientes un recargo, cuando trabajas con nosotros, el precio que pones es el precio que se muestra en nuestro sitio web. Además, solo pagas si te generamos ingresos, no hay costes añadidos por darse de alta o por número de alojamientos.
    </h3>
    <br />
    <h2 style="color:#1733D5; font-size:18px">
        Nuestra Misión:
    </h2>

    <h3 style="text-align:justify; color:#000000">
        Ser reconocidos por nuestros clientes como la mejor opcion para realizar reservas online en hoteles naturalistas. El objetivo ofrecer la respuesta tecnológica definitiva para eliminar las dificultades de los viajes, dando a nuestros clientes la oportunidad de descubrir lo mejor del destino a través de nuestra pagina web.
    </h3>
</div>

