@model HotelFinalProgramacionAvanzada.Models.ViewModels.DetalleReservaViewModel

@{ Layout = null; }

<div class="row">
    <div class="col-md-12">
        <form asp-action="" asp-route-id="@Model.Reserva.ReservaId" onsubmit="return PostForm(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Reserva.ReservaId" />
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4 float-left">
                        <div class="form-group">
                            <label asp-for="Reserva.ReservaId" class="control-label"></label>
                            <input asp-for="Reserva.ReservaId" class="form-control" disabled />
                            <span asp-validation-for="Reserva.ReservaId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-8 float-left">
                        <div class="form-group">
                            <label class="control-label">Estado</label>
                            <input asp-for="Estado" class="form-control" disabled />
                            <span asp-validation-for="Estado" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4 float-left">
                        <div class="form-group">
                            <label asp-for="Reserva.CostoTotal" class="control-label"></label>
                            <input asp-for="Reserva.CostoTotal" class="form-control" disabled />
                            <span asp-validation-for="Reserva.CostoTotal" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4 float-left">
                        <div class="form-group">
                            <label class="control-label">Pagado en línea</label>
                            @{
                                var recibir = Model.Reserva.CostoTotal - Model.Reserva.Saldo;
                            }
                            <input value="@recibir" class="form-control" disabled />
                            <span asp-validation-for="Reserva.Saldo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4 float-left">
                        <div class="form-group">
                            <label asp-for="Reserva.Saldo" class="control-label"></label>
                            <input asp-for="Reserva.Saldo" class="form-control" disabled />
                            <span asp-validation-for="Reserva.Saldo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <hr />
                    <a asp-action="Index" class="btn btn-success form-control">Regresar</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}

