@model HotelFinalProgramacionAvanzada.Models.ViewModels.ReservaViewModel

@{ Layout = null; }

<div class="row">
    <div class="col-md-12">
        <form asp-action="Upsert" asp-route-id="@Model.Reserva.ReservaId" onsubmit="return PostForm(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Reserva.ReservaId" />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Reserva.HabitacionId" class="control-label"></label>
                        @Html.DropDownListFor(s => s.Reserva.HabitacionId, Model.Habitaciones, "-Seleccione un Habitacion", new { @class = "form-control" })
                        <span asp-validation-for="Reserva.HabitacionId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Reserva.EstadoReservaId" class="control-label"></label>
                        @Html.DropDownListFor(s => s.Reserva.EstadoReservaId, Model.EstadosReserva, "-Seleccione un estado", new { @class = "form-control" })
                        <span asp-validation-for="Reserva.EstadoReservaId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Reserva.UserId" class="control-label"></label>
                        @Html.DropDownListFor(s => s.Reserva.UserId, Model.Usuarios, "-Seleccione un cliente", new { @class = "form-control" })
                        <span asp-validation-for="Reserva.UserId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Reserva.CostoTotal" class="control-label"></label>
                        <input asp-for="Reserva.CostoTotal" class="form-control" />
                        <span asp-validation-for="Reserva.CostoTotal" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Reserva.Saldo" class="control-label"></label>
                        <input asp-for="Reserva.Saldo" class="form-control" />
                        <span asp-validation-for="Reserva.Saldo" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Reserva.Saldo" class="control-label"></label>
                        <input asp-for="Reserva.Saldo" class="form-control" />
                        <span asp-validation-for="Reserva.Saldo" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Reserva.FechaLlegada" class="control-label"></label>
                        <input asp-for="Reserva.FechaLlegada" class="form-control" />
                        <span asp-validation-for="Reserva.FechaLlegada" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Reserva.FechaSalida" class="control-label"></label>
                        <input asp-for="Reserva.FechaSalida" class="form-control" />
                        <span asp-validation-for="Reserva.FechaSalida" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <input type="submit" value="Guardar" class="btn btn-primary btn-block" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
